/* Define CSS Variables */
:root {
    --primary-color: #1B75BC;   /* Primary color */
    --secondary-color: #FFB400; /* Secondary color */
    --accent1-color: #00796B;   /* Accent color 1 */
    --accent2-color: #F44336;   /* Accent color 2 */
    --light-text-color: #FFFFFF; /* Light text color for dark backgrounds */ 
    --dark-background: #000000; /* Dark background */
    
  
    --heading-font: 'Bebas Neue', sans-serif;
    --text-font: 'Roboto', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  margin: 0.1rem auto;
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;
  background-color: var(--primary-color);
}


header img {
  margin: 0.40rem 0.25rem 0.40rem 5rem;
	width: 84px;
	height: auto;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
	padding: 0;
  justify-content: space-evenly;
}

.navigation a {
  display: inline;
  color: var(--light-text-color);
  flex-shrink: 0;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
	color: var(--secondary-color);
	font-weight: bolder;
	text-decoration: underline;
}

#history {
  margin: 2rem auto;
  display: grid
}

#history h2, #adventures h2, #contact h2, #team h2 {
  text-align: center;
  font-size: x-large;
  word-spacing: 5px;
}

#history img {
  margin: 0 1rem 0 1rem;
  width: 200px;
  height: auto;
  border: 5px solid var(--primary-color);
}
#history p {
  margin:  0 1rem 0 1rem;
}
.history-content {
  display: flex;
  justify-content: space-around;

}

#adventures  {
  margin: 2rem auto;
  display: grid;
}

 /* {
  text-align: center;
  font-size: x-large;
} */

#adventures .adventures-gallery { 
  display: flex; 
  justify-content: space-evenly; 
  flex-wrap: wrap; 
}

  .adventures-gallery img {
    display: inline;
    width: 200px;
    height: auto;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    flex-shrink: 0;
  }

  #adventures figure { 
    flex: 1; 
    text-align: center; 
    margin: 1em; }

  #adventures figcaption { 
    margin-top: 0.3em; 
    font-style: italic;
    color: var(--primary-color);
  }

  /* styling the headlings*/
  h1,h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
  }

  p {
    font-family: var(--text-font);
    color: var(--primary-color);
    margin: 5px;
    padding-bottom: 10px;
    

  }

  .hero {
    position: relative;
  }

  .hero h1 {
    position: absolute;
    top: 50px;
    right: 510px;
    color: var(--light-text-color);
    background-color: rgba(0, 0, 0, 0.5);
  }

  section img {
    margin: 0 0 5px 5px;
  }

  h2 {
    margin: 5px;;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  article {
    position: absolute;
    bottom:290px;
    right: 150px;
    background-color: rgba(6, 44, 114, 0.6);
    padding: 5px;
    max-width: 940px;
  }

  article p {
    color: var(--light-text-color);
  }

  article img {
    float: right;
    width: 170px;
    height: auto;
    padding: 5px;
    
  }

  footer {
    margin: 0.1rem auto;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    align-items: center;
    background-color: var(--primary-color);
  }

  footer p {
    text-align: center;
    color: var(--light-text-color);
    font-size: smaller;
    margin-right: 100px;
  }

  .wireframe a {
    display: inline;
    color: var(--light-text-color);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-left: 90px;
  }

  .wireframe a:hover {
    text-decoration: underline;
    color: tomato;
    font-weight: bolder;
  }

  .socialmedia a img {
    width: 64px;
    height: auto;
    padding: 15px;
  
  }

  .socialmedia a {
    text-decoration: none;
  }   /* the css seclector (rule) remove the underlines from all hyperlink */

  /* styling contact html */

  .hero1 {
    position: relative;
  }

  .hero1 img {
    display: block;
    width: 100%;
    height: 300px;
     }

  .hero1 h1 {
    position: absolute;
    top: 50px;
    right: 510px;
    color: var(--light-text-color);
    background-color: rgba(0, 0, 0, 0.5);
    }

  #contact {
    margin: .5rem auto;
    width: 1170px;
    height: 300px;
    background-color: #FFf;
    display: grid;
    border: .2rem solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    position: relative;  
  }

  .contact-info {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 70px 400px;
    justify-content: start;
    margin-left: 100px;
    margin-top: 50px;
  }

  .contact-info img {
    width: 34px;
    height: 34px;
    border: 2.2px solid var(--accent1-color);
  }

  .contact-info p {
    font-size: small;
    font-size: medium;
    font-weight: 900;
    font-style: italic;
  }

  .contact-info a {
    color: var(--primary-color);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }

  .contact-info a:hover {
    color: tomato;
    font-weight: bolder;
    text-decoration: underline;
  }
  

  .style-iframe {
    position: absolute;
    width: 350px;
    height: 190px;
    top: 40px;
    right: 110px;
    border: .1rem solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
  }

  #contact figure {
    text-align: center;
    margin: 20px;
    flex: 1;
  }

  #contact figcaption {
    margin-top: 20px;
    font-style: italic;
    color: var(--primary-color);
  }

  #team  {
    margin: 2rem auto;
    display: grid;
  }
  
   /* {
    text-align: center;
    font-size: x-large;
  } */
  
  #team .team-gallery { 
    display: flex; 
    justify-content:space-around ; 
    flex-wrap: wrap; 
  }
  
    .team-gallery img {
      display: inline;
      width: 200px;
      height: auto;
      border: 3px solid var(--primary-color);
      box-shadow: 0 0 20px var(--primary-color);
      flex-shrink: 0;
    }
  
    #team figure { 
      flex: 1; 
      text-align: center; 
      margin: 1em; }
  
    #team figcaption { 
      margin-top: 0.3em; 
      font-style: italic;
      color: var(--primary-color);
    }

    #contact-form {
      background-image: url(https://indianheadcanoes.com/wp-content/uploads/2019/04/RaftingSlider11.jpg);
      margin: 0 auto;
      width: 1200px;
      height: 700px;
      margin-bottom: 20px;
    }

    .hd2 {
      width: 840px;
      margin: 0 auto;
      text-align: center;
      background-color: rgba(53, 174, 235, 0.8);
    }

    .hd2 h2 {
      margin-top: 90px;
      color: #000000;
      word-spacing: 5px;
    }

    .frm {
      width: 840px;
      margin: 0 auto;
      padding: 1rem;
      border: 1px solid rgb(0 0 0 / 0.1);
      border-radius: 10px;
      background-color: rgba(53, 174, 235, 0.8);
      display: grid;
    }

    fieldset {
      display: grid;
      grid-gap: .2rem;
      margin: 1rem;
      border: 1px solid rgb(0 0 0 / 0.2);
      padding: 1rem;
    }

    legend {
      padding: 0.5rem;
      color: #000000;
      font-size: 1.3em;
    }

    input, textarea {
      padding: 0.5rem;
      font-size: 1.1rem;
      box-shadow: 0 0 10px var(--primary-color);
    }

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      vertical-align: bottom;
    }

    input[type="radio"] {
      width: 18px;
      height: 18px;
      vertical-align: bottom;
    }

    button {
      margin: 1rem;
      background-color: blue;
      color: #fff;
      border: none;
      border-radius: .5rem;
      padding: .75rem;
      font-size: 1.2rem;
    }
    button:hover {
      background-color: tomato;
    }



  

  
